<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>Cleveland artificial intelligence and machine learning support group</h1>

<p>
Stanford is offering 2 free online classes this fall 2011:
</p>

<ul>
    <li><a href="http://www.ai-class.com/">http://www.ai-class.com/</a></li>
    <li><a href="http://www.ml-class.com/">http://www.ml-class.com/</a></li>
</ul>

<p>
We meet every Sat. @ 10:00am @ 
<a href="http://www.onshift.com/company/contact-us/">OnShift's office in playhouse sq.</a>
</p>

<p>
Here's  
<a href="http://www.meetup.com/Cleveland-AI-ML-support-group/">the meetup group</a>
we use for a group mailing list, and for general logistics coordination.
</p>

<p>
Here's
<a href="http://freedombluesky.com/aiml/index.php/Main_Page">the wiki</a>
we use to organize and preserve our information. 
</p>

<p>
Here are 
<a href="http://www.stanford.edu/class/cs229/materials.html">the course materials for the machine learning class</a>.
</p>


</body>                                    
</html>

