<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h1>DARPA Social Media in Strategic Communication (SMISC) request for proposals</h1>

<p>
The following is from <a href="https://www.fbo.gov/index?s=opportunity&amp;mode=form&amp;id=6ef12558b44258382452fcf02942396a&amp;tab=core&amp;_cview=0">
the DARPA Social Media in Strategic Communication (SMISC) request for proposals</a>:
</p>

<p>
Changes to the nature of conflict 
resulting from the use of social media are likely to be as profound as those resulting from 
previous communications revolutions.  The effective use of social media has the potential to 
help the Armed Forces better understand the environment in which it operates and to allow 
more agile use of information in support of operations.
</p>

<p>
The general goal of the Social Media in Strategic Communication (SMISC) program is to develop 
a new science of social networks built on an emerging technology base.  In particular, SMISC 
will develop automated and semi‐automated operator support tools and techniques for the 
systematic and methodical use of social media at data scale and in a timely fashion to 
accomplish four specific program goals: 
</p>

<ol>
<li>
Detect, classify, measure and track the (a) formation, development and spread of ideas 
and concepts (memes), and (b) purposeful or deceptive messaging and misinformation.
</li>

<li> 
Recognize persuasion campaign structures and influence operations across social media 
sites and communities.  
</li>

<li>
Identify participants and intent, and measure effects of persuasion campaigns.  
</li>

<li>
Counter messaging of detected adversary influence operations. 
</li>

</ol>




</body>                                    
</html>

