<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

    <div style="text-align:center;">
        <ul>
            <li>
                <a href="/blog/modeling_complexity_w_python">
                Modeling complexity w/ python (part 1)
                </a>
            </li>

            <li>
                <a href="/blog/modeling_complexity_w_python_2">
                Modeling complexity w/ python (part 2)
                </a>
            </li>
            
            <li>
                <a href="/blog/darpa_social_media_request_for_proposals">
                DARPA Social Media in Strategic Communication (SMISC) request for proposals
                </a>
            </li>
            
            <li>
                <a href="/blog/graphlab_datasets">
                Graphlab datasets
                </a>
            </li>
            
            <li>
                <a href="/blog/cleveland_ai_and_ml_support_group">
                Cleveland AI and ML support group
                </a>
            </li>
            
        </ul>
    </div>

</body>                                    
</html>

