<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>
    <div style=""> 
<p>
Our first tool (in the works now) uses modern machine learning algorithms 
to identify twitter communities, leaders, and contextually interesting content.
A special thanks to the guys at <a href="http://www.graphlab.ml.cmu.edu/">graphlab</a>.  
78% of our value comes from their hard work and brilliance. 
</p><p>
Connect SmartTypes with your Twitter account, and we'll take it from there.
We'll cluster the people you follow, the people they follow, and the people they follow
(A massive social universe that revolves around you).
We'll cluster your universe into communities, 
highlight the leaders of these communities, and 
highlight the stuff these guys find interesting.
</p><p>
"Every man mistakes the limits of his own field of vision for the limits of the world." - Arthur Schophenhauer
</p><p>
We believe technology can help people extend their vision.
</p><p>
Get in touch if this kind of thing excites you.
</p>
    </div>
</body>                                    
</html>

