<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>
    <div style="">
<p>
"Every man mistakes the limits of his own field of vision for the limits of the world." - Arthur Schophenhauer
</p><p>
Technology can help extend knowledge and vision.
</p><p>
Our first tool (in the works now) uses modern machine learning algorithms 
to identify twitter communities, leaders, and contextually interesting content.
</p><p>
A special thanks to the guys at <a href="http://www.graphlab.ml.cmu.edu/">Graphlab</a>
for the lightning fast implementation of <a href="http://videolectures.net/icml08_salakhutdinov_bpm/">Bayesian Probabilistic Matrix Factorization using MCMC</a>.
See the <a href="http://www.graphlab.ml.cmu.edu/pmf.html">GraphLab collaborative filtering library</a> for more info on efficient matrix factorization.
</p><p>
Thanks also to <a href="http://www.cs.stanford.edu/people/ang/">Andrew Ng</a> for his work on 
<a href="http://www.youtube.com/watch?v=ZmNOAtZIgIk">Unsupervised Feature Learning and Deep Learning (Sparse coding)</a> 
which inspired the sparsity constraint added for clustering.
</p><p>
Get in touch if this kind of thing excites you.
</p>
    </div>
</body>                                    
</html>

