<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>

    <div style="text-align:center;">

        <h1>
            ${twitter_group.tag_cloud_display()}
        </h1>
    
        <table class="results">
            <tr>
                <th>Score</th>
                <th>Handle</th>
                <th>Description</th>
                <th>Location</th>
                <th>Link</th>
            </tr>
            <tr py:for="top_user_tup in twitter_group.top_users()">
                <td>${'%.3f' % top_user_tup[0]}</td>
                <td>
                    <a href="/user?user_id=${top_user_tup[1].twitter_id}">
                        ${top_user_tup[1].screen_name}
                    </a>
                </td>
                <td>${top_user_tup[1].description}</td>
                <td>${top_user_tup[1].location_name}</td>
                <td>
                    <a href="http://twitter.com/#!/${top_user_tup[1].screen_name}" target="_blank">twitter</a>
                </td>
            </tr>
        </table>
        
    </div>

</body>                                    
</html>

