<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>

    <div style="text-align:center;">
        <p>Clustered 7,876 users related to ${root_user.screen_name} into 39 groups.</p>
        <p>
            <a href="/group">Explore a random group</a>
        </p>
        
        <table class="results">
            <tr>
                <th>Tags</th>
            </tr>        
        
            <tr py:for="group in TwitterGroup.get_active_groups()">
                <td>
                    <a href="/group?group_index=${group.group_index}">
                       ${group.tag_cloud_display()}
                    </a>
                </td>
            </tr>
        </table>        
        
    </div>

</body>                                    
</html>

